body {
    background-color: #f2f2f2;
    padding: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 55%;
}

li {
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
}





